body {
  font-family: Arial, Helvetica, sans-serif;
  color: #507cd3;
  background-image: url("images/clouds.jpg");
  background-color: #ebf1fe;
}
h1 {
  color: #507cd3;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
  padding: 20px;
}

ul {
  margin: 0 0 10;
  padding: 0;
}

li {
  color: #507cd3;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.date-time {
  padding: 20px 20px 10px 20px;
}
.weather-details {
  padding-top: 10px;
}

.temperature {
  color: #507cd3;
  font-size: 100px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  top: -34px;
}
.weather-icon {
  height: 100px;
  width: 100px;
}
.city-search-form {
  margin-bottom: 20px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
}
.weather-app {
  border: 1px solid #507cd3;
  padding: 15px;
  border-radius: 10px;
  background: linear-gradient(
    359.3deg,
    rgb(196, 214, 252) 1%,
    rgba(187, 187, 187, 0) 70.9%
  );
}
.link-source-code {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}
